* {
  box-sizing: border-box;
}
[hidden] {
  display: none !important;
}

html {
  --foreground: #222;
  --background: white;
  --box-shadow: #5dbA9b;
  --primary: aquamarine;
  --secondary: lavender;
  --spacing-s: 8px;
  --spacing-m: 24px;
  --spacing-l: 32px;
  --spacing-xl: 48px;
  --scrollbar-background-color: rgba(113, 122, 116, 0.4);
  --text-color: black;
}

body {
  font-family: "Roboto", monospace;
  margin: 0 auto;
  background: var(--background);
  color: var(--foreground);
  line-height: 1.5;
  max-width: 800px;
  user-select: none;
}

main,
footer {
  background-color: #fafafa;
  margin: 0.6em;
  max-width: 800px;
  padding: 2em;
}

h1 {
  border-radius: 3px;
  background: var(--primary);
  box-shadow: 7px 7px 0 var(--box-shadow);
  display: inline-block;
  padding: 8px 8px;
}

h1,
h2,
h3,
h4 {
  margin-top: var(--spacing-xl);
  color: var(--text-color);
  width: fit-content;
}

p {
  margin-top: var(--spacing-l);
}

ul > li,
ol > li {
  margin-bottom: var(--spacing-s);
  line-height: 1.5;
}

ul.no-bullet {
  list-style-type: none;
}
a:not(.glitch-remix):link,
a:not(.glitch-remix):visited {
  text-decoration: none;
  border-bottom: 6px solid var(--primary);
  color: var(--foreground);
  transition: background 0.2s linear;
}

a:hover {
  background: var(--primary) !important;
}

.glitch-remix img {
  height: 30px;
  vertical-align: text-bottom;
}

pre {
    max-width: 800px;
    box-shadow: 7px 7px 0 var(--secondary);
}

/*

pre {
  max-width: 500px;
}

pre,
code {
  font-size: 15px;
  padding: 5px;
  font-family: inherit;
  background: var(--secondary);
  color: var(--text-color);
}

*/ 

footer {
  padding-top: var(--spacing-l);
  border-top: 10px solid var(--secondary);
}

.horizontal {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.avatar {
  height: 20px;
  vertical-align: middle;
}

.button {
  font-size: inherit;
  font-family: inherit;
  border-radius: 3px;
  border: none;
  background: var(--secondary);
  padding: 8px 16px;
  box-shadow: 6px 7px var(--primary);
  cursor: pointer;
  transition: background 0.2s linear;
}

.button:hover {
  background: var(--primary);
}

.button:active {
  box-shadow: none;
}

@media (min-width: 1281px) {
  ::-webkit-scrollbar {
    width: 5px;
  }

  /* track */
  ::-webkit-scrollbar-track {
    -webkit-border-radius: 10px;
    border-radius: 10px;
  }

  /* handle */
  ::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: var(--scrollbar-background-color);
  }

  ::-webkit-scrollbar-thumb:window-inactive {
    background: none;
  }
}
